/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');

/* Tailwind Core */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  body {
    @apply bg-white text-foreground;
    font-family: 'Source Sans Pro', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  #navbar{
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    text-shadow: rgba(82, 78, 105, 0.253) 2px 2px 1px;
  }

  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }

  * {
    @apply border-border;
  }
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .text-cta {
    color: var(--color-cta);
  }
}
